body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 732px;
    background: url(photo/E-1165448-650DC6C7.jpg) no-repeat;
    background-size: cover;
}
a {
    text-decoration: none;
}
.bottom{
    width: 1439px;
    height: 20px;
    display: flex;
    flex-direction: row;
    background-color: rgba(255, 154, 155, 0.5);
    backdrop-filter: blur(10px);
    position: absolute;
    left: 0;
    top: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    margin-bottom: 10px;
}
.my-wishes{
    margin-left: 20px;
}
.writing-wishes{
    margin-left: 20px;
}
.wish-wall{
    margin-left: 20px;
}
